<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.mybatis.mapper.PostMapper">
<!--    게시글 작성-->
    <insert id="insert" parameterType="PostVO">
        INSERT INTO TBL_POST(ID, POST_TITLE, POST_CONTENT, MEMBER_ID)
        VALUES (SEQ_POST.NEXTVAL, #{postTitle}, #{postContent}, #{memberId})
    </insert>
<!--    게시글 목록-->
    <select id="selectAll" resultType="PostDTO">
        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.MEMBER_ID, TBM.MEMBER_NAME
        FROM TBL_POST TBP
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID
    </select>

<!--    게시글 조회(단일)-->
    <select id="select" parameterType="Long" resultType="PostDTO">
        SELECT TBP.ID, TBP.POST_TITLE, TBP.POST_CONTENT, TBP.MEMBER_ID, TBM.MEMBER_NAME
        FROM TBL_POST TBP
        JOIN TBL_MEMBER TBM
        ON TBP.MEMBER_ID = TBM.ID AND TBP.ID = #{id}
    </select>

<!--    게시글 수정-->
    <update id="update" parameterType="PostVO">
        UPDATE TBL_POST
        SET POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}
        WHERE ID = #{id}
    </update>
    
<!--    게시글 삭제-->
    <delete id="delete">
        DELETE TBL_POST
        WHERE ID = #{id}
    </delete>

<!--    조회수 증가-->
    <update id="updateReadCount" parameterType="Long">
        UPDATE TBL_POST
        SET POST_READ_COUNT = POST_READ_COUNT + 1
        WHERE ID = #{id}
    </update>

<!--    게시글 목록(정렬)-->
<!--    order은 파라미터값 = String-->

    <select id="selectAllWithOrder" parameterType="String" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, MEMBER_ID
        FROM TBL_POST
        ORDER BY
        <choose>
            <when test="order.equals('popular')">
                POST_READ_COUNT
            </when>
            <otherwise>
                ID
            </otherwise>
        </choose>
        <if test="order != 'asc'">
            DESC
        </if>
    </select>


<!--    다중 파라미터를 적을땐 MAP을 사용한다-->
    <select id="selectAllWithParams" parameterType="Map" resultType="PostVO">
        SELECT ID, POST_TITLE, POST_CONTENT, POST_READ_COUNT, MEMBER_ID
        FROM TBL_POST
        ORDER BY
        <choose>
            <when test="order.equals('popular')">
                POST_READ_COUNT
            </when>
            <otherwise>
                ID
            </otherwise>
        </choose>
        <choose>
            <when test="direction != null and direction.equals('asc')">
                ASC
            </when>
            <otherwise>
                DESC
            </otherwise>
        </choose>
        OFFSET (#{cursor} -1 ) * 5 ROWS
        FETCH NEXT 5 ROWS ONLY
    </select>

</mapper>